
/* Glossy */

.glossyCombobox {
    border: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.glossyCombobox-label {
    background: #000 url(bg-label.gif) 0 0 repeat-x;
    font-size: 14px;
	font-weight: bold;
    line-height: 18px;
    color: #fff;
    z-index: 9000;
	width: 140px;
    height: 24px;
    padding: 0;
    padding-top: 6px;
    cursor: pointer;
    overflow: hidden;
	border-top: #cdd4e9 1px solid;
	border-left: #9aa3b8 1px solid;
	border-right: #9aa3b8 1px solid;
	text-align: center;
}

a:hover.glossyCombobox-label, a:active.glossyCombobox-label {
    text-decoration: none;
}

ul.glossyCombobox-list {
    z-index: 9001;
    margin: 0;
    padding: 10px;
	padding-bottom: 15px;
    list-style: none;
    border: 0;
    margin-top: 28px;
    width: auto;
    background: #000 url(bg-list.gif) right bottom no-repeat;
	border-left: #9aa3b8 1px solid;
	border-right: #9aa3b8 1px solid;
}

ul.glossyCombobox-list li {
    display: block;
    width: 200px;
    padding: 5px;
    margin: 0;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

ul.glossyCombobox-list li.selected {
    background: #333;
}

ul.glossyCombobox-list li.choice-selected {
    background: #666; color: #fff;
}