
/* Linux */

select#combobox_linux {
	width: 140px;
	float: left;
}

input#open_linux_combobox {
	margin-left: 10px;
	float: left;
}

.linuxCombobox {
    border: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.linuxCombobox-label {
    background: #fff url(dropdown.gif) 0 0 no-repeat;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    z-index: 9000;
	width: 140px;
    height: 23px;
    padding: 0;
    padding-top: 3px;
    cursor: pointer;
    text-indent: 10px;
    overflow: hidden;
}

a:hover.linuxCombobox-label, a:active.linuxCombobox-label {
    text-decoration: none;
}

ul.linuxCombobox-list {
    z-index: 9001;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    margin-top: 28px;
    border: #000 1px solid;
    width: auto;
    background: #fff;
}

ul.linuxCombobox-list li {
    display: block;
    min-width: 100px;
    padding: 0;
    margin: 0;
    line-height: 20px;
    cursor: pointer;
    font-weight: normal;
    font-size: 12px;
    background: #fff;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

ul.linuxCombobox-list li.selected {
    background: #ccc;
}

ul.linuxCombobox-list li.choice-selected {
    background: #00f; color: #fff;
}